# Dependencies
node_modules/

# Next.js build output
.next/
out/

# TypeScript build info
tsconfig.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Env files
.env
.env*.local

# Tooling / deploy
.vercel

# Misc
.DS_Store
Thumbs.db